<div class="contents row">
  <div class="container">
    <h3>授業PR動画を投稿する</h3>
    <%= form_with(model: @tweet, local: true) do |form| %>
      <%= form.label :２〜３分の動画 %>　※ファイル形式はMP4,MOV,WMVでお願いします
      <br>　　　　　　　　※簡単に授業内容の説明をすると良いと思います。
      <%= form.file_field :video, :accept => 'video/*' %>
      <%= form.label :レベル %>
      <%= form.select :level, ['初級', '中級', '上級'] %>
      <%= form.label :内容 %>
      <%= form.select :text, ['会話', '発音', '文法', '読解', '作文', 'その他'] %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div