<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @tweets.each do |tweet| %>
    <div class="content_post" style="background-image: url(<%= tweet.video %>);">
      <p><%= tweet.text %></p>
      <span class="name"><%= tweet.name %></span>
      <p>
        <%= link_to tweet.video_url.to_s do %>
        <%= video_tag(tweet.video.to_s, size: "600x400", :loop => true, :autoplay => true, :muted => true) %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>