<%= month_calendar events: @reservations do |date, reservations| %>
  <%= date.day %>
  <% reservations.each do |reservation| %>
    <div>
    <% if reservation.user_id == current_user.id %>
      <%= reservation.user.nickname %><%= link_to '[削除]', "/reservations/#{reservation.id}", method: :delete %>
      <%= reservation.start_time.hour %>:<%= reservation.start_time.min %>
      <%= reservation.level %>
      <%= reservation.content %>
      <%= reservation.schedule %>
    <% else %>
      <%= reservation.user.nickname %>
      <%= reservation.start_time.hour %>:<%= reservation.start_time.min %>
      <%= reservation.level %>
      <%= reservation.content %>
      <%= reservation.schedule%>
    <% end %>
    </div>
  <% end %>
<% end %>
<br>
<%= link_to '予約する', new_tweet_reservation_path(params[:tweet_id]), class: 'btn btn-default' %><br>
<h3>※みどりいろ せんせいの じかんをみて よやくしてください</h3><br>
<%= link_to '先生予定登録', new_tweet_reservation_path(params[:tweet_id]), class: 'btn btn-default' , data: { confirm: "【かくにん】あなたは ほんとうに せんせい ですか？" } %>