<!--div class="contents row">
  <div class="container">
    <h3>予約する</h3>
    <%= form_with(model: @tweet, local: true) do |form| %>
      <%= form.label :お名前 %>
      <%= current_user.nickname %><br>
      <%= form.label :start_time %>
      <%= form.datetime_select :start_time %>
      <%= form.label :レベル %>
      <%= form.select :level, ['しょきゅう', '中級', '上級'] %>
      <%= form.label :内容 %>
      <%= form.select :content, ['かいわ', 'はつおん', 'ぶんぽう', 'どっかい', 'さくぶん', 'そのた'] %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div-->

<div class="contents row">
  <div class="container">
    <h3>予約する</h3>

    <%= form_with(model: [@tweet, @reservation], local: true) do |form| %>

  
      <%= form.label :name %>
      <%= current_user.nickname %><br>
  
      <%= form.label :start_time %>
      <%= form.datetime_select :start_time %>

      <%= form.label :content %>
      <%= form.select :content, ['かいわ', 'はつおん', 'ぶんぽう', 'どっかい', 'さくぶん', 'そのた'] %>

      <%= form.label :level %>
      <%= form.select :level, ['しょきゅう', '中級', '上級'] %>

      <%= form.submit %>
    <% end%>
  </div>
</div>